    {{>head }}
    {{>navbar }}


<div class="row">
    <div class="col-8">
        <h1> Diseñamos tu pagina a tu necesidades </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi distinctio iste aliquam odio recusandae, aliquid numquam, doloremque accusamus quasi eligendi non reprehenderit ipsa ex commodi consequuntur nam porro similique earum.</p>
    </div>
</div>
<div class="col-4">
    <img src="assets/img/edition-1.jpg" class="img-thumbnail">
</div>

  {{>footer }}

